@page "/datalist"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject CommonDataService CommonData    // 共通変数
@using System.Text.RegularExpressions;

<h3>データ一覧</h3>

<table class="table">
    <thead>
        <tr>
            <th>BarCode</th>
            <th>Qty</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in scanDatas)
        {
            <tr>
                <td>@row.バーコード</td>
                <td>@row.数量</td>
                <td>@row.処理日時</td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-info" @onclick="NavigateToAnotherPage">終了</button>

@code {
    private List<ScanData> scanDatas = new List<ScanData>();

    protected override void OnInitialized()
    {
        // 共通変数の取得
        scanDatas = CommonData.scanDatas;
    }

    private void NavigateToAnotherPage()
    {
        JSRuntime.InvokeVoidAsync("playSound2");
        Task.Delay(1000);
        CommonData.iCount = 0;  // カウントリセット
        NavigationManager.NavigateTo("/");
    }

    /// --------------------------------------------------------------------------------
    /// <summary>
    /// メールアドレスの禁止文字チェック
    /// </summary>
    /// <param name="email"></param>
    /// <returns></returns>
    /// --------------------------------------------------------------------------------
    private string MakeSafeFileName(string email)
    {
        string safeName = email;

        // 禁止文字を安全な文字に置き換えます
        safeName = safeName.Replace("@", "_");
        safeName = safeName.Replace(".", "_");

        // 他の禁止されている文字も必要に応じてここで置き換えます
        // 例: safeName = safeName.Replace("/", "_");

        // ファイル名に使えない他の文字を除去または置き換え
        safeName = Regex.Replace(safeName, "[^a-zA-Z0-9-_]", "");

        return safeName;
    }
}