@page "/janscan"

<h1>JAN スキャン</h1>
<div id="interactive" class="viewport"></div>

<button @onclick="StartBarcodeDetection">バーコードを読み取る</button>

<p>@barcodeValue</p>

@code {
    private string barcodeValue = "バーコードが読み取られるとこちらに表示されます";

    [JSInvokable]
    public void BarcodeDetected(string code)
    {
        barcodeValue = code;
        StateHasChanged();
    }

    private async Task StartBarcodeDetection()
    {
        await JS.InvokeVoidAsync("readBarcode", DotNetObjectReference.Create(this));
    }
}


