@page "/"
@inject IJSRuntime JS

<h1>QR スキャン/v.1.0.5</h1>

<center>
    <p>@qrCodeValue</p>
    <video id="video" width="300" height="200" style="border: 1px solid black"></video><br/>
    <button @onclick="StopQRCodeReading">読み取り停止</button><br/>
    <button class ="scan-button" @onclick="StartQRCodeReading">QRスキャン</button>
</center>

@code {
    private string qrCodeValue = "QRコード:";

    [JSInvokable]
    public void QRCodeDetected(string code) 
    {
        qrCodeValue = code;
        JS.InvokeVoidAsync("playSound");
        StateHasChanged();
    }

    private async Task StartQRCodeReading() 
    {
        qrCodeValue = "スキャンしてください。";
        await JS.InvokeVoidAsync("startQRCodeReading", DotNetObjectReference.Create(this));
    }

    private async Task StopQRCodeReading() 
    {

        await JS.InvokeVoidAsync("stopQRCodeReading");
    }

    // private async Task PlaySound()
    // {
    //     await JS.InvokeVoidAsync("playSound");
    // }
}


