@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<h1>QR スキャン/v.1.0.7</h1>

<center>
    <p>@qrCodeValue</p>
    <video id="video" width="300" height="200" style="border: 1px solid black"></video><br/>
    <button @onclick="StopQRCodeReading">読み取り停止</button><br/>
    <button class ="scan-button" @onclick="StartQRCodeReading">QRスキャン</button>
</center>

@code {
    private string qrCodeValue = "QRコード:";

    [JSInvokable]
    public void QRCodeDetected(string code) 
    {
        qrCodeValue = code;
        JSRuntime.InvokeVoidAsync("playSound1");
        Task.Delay(700);
        StateHasChanged();

        NavigationManager.NavigateTo("/tenkey/" + qrCodeValue);
    }

    private async Task StartQRCodeReading() 
    {
        qrCodeValue = "スキャンしてください。";
        await JSRuntime.InvokeVoidAsync("startQRCodeReading", DotNetObjectReference.Create(this));
    }

    private async Task StopQRCodeReading() 
    {

        await JSRuntime.InvokeVoidAsync("stopQRCodeReading");
    }
}


