.centered-content {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    /* align-items: center; 垂直方向の中央揃え */
    /* height: 100vh; ビューポートの高さに基づく */
}
h3 {
    text-align: center;
}
.tenkey-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-template-rows: auto repeat(4, 1fr); /* Define rows for the input and buttons */
    gap: 10px;
    max-width: 200px;
    margin-bottom: 20px;
}

.input-display {
    grid-column: 1 / -1; /* The input display spans all columns */
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    text-align: right;
    width: 100%;
    margin-bottom: 10px; /* To give some space from the buttons below */
}

.btn {
    width: 100%; /* Makes the buttons expand to fill the cell */
    height: 50px;
    font-size: 18px;
    line-height: 50px; /* Center the text vertically */
}

/* Additional styles for specific buttons if needed */
.btn-info, .btn-secondary {
    /* You can add specific styles for the ENT and CLR buttons here if needed */
}
.scanBarcode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px; /* または必要な高さ */
    margin-bottom:5px;
}
