@page "/tenkey"
@page "/tenkey/{Param}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>10KEY</PageTitle>
<h3>数量入力</h3>
<div class="scanBarcode">@qrCodeValue</div>

<div class="centered-content">
    
    <div class="tenkey-container">
        <!-- Input display at the top -->
        <div class="input-display">
            <input type="text" @bind="InputValue" readonly />
        </div>

        <!-- 1-9 Number buttons -->
        @for (int number = 1; number <= 9; number++)
        {
            int currentNumber = number; // Capture the loop variable
            <button class="btn btn-primary" @onclick="() => AppendNumber(currentNumber)">
                @currentNumber.ToString()
            </button>
        }

        <!-- CLR button -->
        <button class="btn btn-secondary" @onclick="Clear">CLR</button>

        <!-- Zero button -->
        <button class="btn btn-primary" @onclick="() => AppendNumber(0)">0</button>

        <!-- ENT button -->
        <button class="btn btn-info" @onclick="NavigateToAnotherPage">ENT</button>
    </div>
</div>

@code {
    [Parameter]
    public string Param { get; set; }

    private string qrCodeValue = "QRコード:";
    private string InputValue { get; set; } = "";

    protected override void OnInitialized()
    {   //パラメーターセット
        qrCodeValue = "BAR: " + Param;
    }

    private void AppendNumber(int number)
    {
        InputValue += number.ToString();
    }

    private void NavigateToAnotherPage()
    {
        JSRuntime.InvokeVoidAsync("playSound2");
        Task.Delay(1000);

        NavigationManager.NavigateTo("/");
    }

    private void Clear()
    {
        InputValue = "";
    }
}
